[Unit]
Description=Open Fortress Subversion Credentials Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/subversion/ofsvn

[Install]
WantedBy=multi-user.target